[submodule "libs/libtesla"]
	path = libs/libtesla
	url = https://github.com/WerWolv/libtesla
[submodule "SimpleIniParser"]
	path = SimpleIniParser
	url = https://github.com/zdm65477730/SimpleIniParser.git
